body {
  text-align: center;
  background: blueviolet;
  color: pink;
  margin: 120px ;
}


ul {
  list-style-type: none;
background: linear-gradient(45deg, orange, green ) ;
padding: 5px;
border-radius: 12px;
}
li{
  background: #22a372;
  color: orange;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  
  

}